/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.6em;
}
.browsehappy a:hover {
    color: #777;
    text-decoration: underline;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'Zeroes Three';
    src: url('fonts/zeroes_3-webfont.eot');
    src: url('fonts/zeroes_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/zeroes_3-webfont.woff') format('woff'),
         url('fonts/zeroes_3-webfont.ttf') format('truetype'),
         url('fonts/zeroes_3-webfont.svg#zeroes_threeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@keyframes neon-glow {
  from {
    text-shadow:
        0 0 1px #fff,
        0 0 4px  #fff,
        0 0 6px  #fff,
        0 0 8px  #f90,
        0 0 15px  #f90,
        0 0 20px  #f90,
        0 0 30px #f90,
        0 0 40px #f90;
  }
  to {
    text-shadow: 0 0 0 #fff;
  }
}
@keyframes background-glow {
  from { background-color: #f90; }
  to { background-color: transparent; }
}
body {
    background: #222 fixed url(../img/background.jpg) no-repeat 0 0;
    background-size: cover;
    color: #fff;
    padding: 3px;
}
body, input, button, textarea {
    font-family: 'Muli', Verdana, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Zeroes Three', 'Muli', Verdana, Arial, sans-serif;
}
a {
    text-decoration: none;
}
a:link, a:visited, a:active, footer span {
    color: #fff;
}
a:hover, a:focus {
    color: rgb(253,160,5);
}
header, footer {
    padding: 5px;
    color: rgb(253,160,5);
}
footer {
    font-size: .8em;
    clear: both;
    text-align: right;
}
.glow {
    animation: neon-glow 1.5s ease-in-out infinite alternate;
}
.main {
    overflow: hidden;
    float: left;
    position: relative;
}
.container {
    min-width: 1300px;
    min-height: 385px;
}
.faction {
    float: left;
    width: 25%;
    max-width: 325px;
}
.faction h1, .filters header {
    margin: 0 0 3px;
    padding: .67em 0;
}
.filters {
    float: right;/*To have almost the same behaviour as before:
    aside bar on the right when the screen is big enough*/
    max-width: 153px;
    margin-left: 3px;
    overflow: hidden;
}
.filters header {
    height: 75px;
    font-size: 20px;
    text-align: center;
}
.filters header a {
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    padding: 3px 5px;
    margin: 0;
}
.filters header a:hover, .filters header a:focus, .filters header a:active {
    color: #fff;
}
.filters a {
    display: block;
    border-radius: 3px;
    margin-bottom: 3px;
}
.filters input {
    width: 100%;
}
.filters p, .filters .view-switcher a {
    float: left;
    margin-right: 3px;
}
.filters .clear {
    font-size: 20px;
    margin: 0;
    padding: 0 5px 3px;
}
.filters .view-switcher {
    border-top: 1px solid;
    margin: 0;
    padding-top: 8px;
    width: 100%;
}
.kind {
    float: left;
    min-height: 1px;
    padding-right: 1px;
    width: 20%;
}
.thumb {
    position: relative;
    display: block;
    border-radius: 3px;
    margin-bottom: 1px;
}
.thumb img {
    display: block;
}
.thumb .strategic {
    position: absolute;
    top: 0;
    left: 0;
}
.filters a:hover, .filters a:focus, .filters a.active,
.faction a.thumb:hover, .faction a.thumb:focus, .faction a.thumb.selected {
    background-color: rgba(255,255,255, .4);
}

/*.faction h1 { background: no-repeat 50px -165px / 160%; padding-left: .33em; }*/ /* css to achieve current faction logo with original images */
.faction h1 { background: no-repeat right top; padding-left: .33em; }
.uef { background-color: rgba(45,120,178, .2); /*#2d78b2*/ }
h1.uef  { background-image: url(../img/SC_UEF.jpg) }
.cybran { background-color: rgba(223,45,14, .2); /*#df2d0e*/ }
h1.cybran { background-image: url(../img/SC_Cybran.jpg) }
.aeon { background-color: rgba(10,157,47, .2); /*#0a9d2f*/ }
h1.aeon { background-image: url(../img/SC_Aeon.jpg) }
.seraphim { background-color: rgba(241,194,64, .2); /*#f1c240*/ }
h1.seraphim { background-image: url(../img/SC_Seraphim.jpg) }

.details {
    padding: 5px;
    margin: 0 1px 1px 0;
    font-size: 14px;
}
.details header {
    padding: 0;
}
.details h1 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    font-weight: normal;
}
.details section {
    clear: both;
}
.details table {
    width: 100%;
}
.details table td {
    vertical-align: top;
    white-space: nowrap;
}
.details table td:first-child {
    min-width:  92px;
}
.details table td:last-child {
  white-space: normal;
}
.details table .sec td {
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    padding-top: 5px;
}
.details .thumb {
    float: left;
    margin-right: 1em;
}
.details .ic {
    display: inline-block;
    vertical-align: middle;
}

/* full mode */
@media only screen and (min-width: 1479px) {
    .filters {
        position: fixed;
        top: 0;
        right: 0;
    }
    .filters .count:after {
        content: ' selected';
    }
}

/* filter in single column */
@media only screen and (max-width: 1478px) {
    .glow {
        animation: background-glow 1.5s ease-in-out infinite alternate;
    }
    .filters header {
        padding: 2px 0 0;
        height: auto;
    }
    .filters header a {
        font-size: 11px;
        padding: 15px 0;
        margin-top: 5px;
        max-width: 48px;
        display: block;
        background-repeat: no-repeat;
    }
    .filters header a, .filters header a:hover, .filters header a:focus {
        color: transparent;
    }
    .filters input {
        width: 48px;
        display: block;
    }
    .filters p, .filters .view-switcher a {
        clear: left;
        margin-top: 0;
        margin-right: 0;
    }
    .filters .clear {
        background: none;
        color: #fff;
    }
    .filters .clear:hover {
        background: rgba(255,255,255, .4);
        color: #fff;
    }
    .filters .compare {
        background-image: url(../img/ui.png);
        background-position: 0px -144px;
        width: 48px;
        height: 48px;
    }
}

/* filter horizontal */
@media only screen and (max-width: 1373px) {
    body {
        background-image: none;
        background-size: auto;
    }
    .filters {
        display: inline;
        top: 0px;
        left: 0;
        width: 100%;
        max-width: none;
        margin: 3px 0 0;
        padding: 0 3px;
    }
    .filters header, .filters input, .filters p {
        margin: 0 16px 0 0;
        float: left;
        clear: none;
    }
    .filters p:last-child {
        margin: 0;
    }
    .filters header {
        height: auto;
        width: auto;
        padding: 10px 0;
    }
    .filters header a {
        font-size: 28px;
        width: auto;
        max-width: none;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .filters header a, .filters header a:hover, .filters header a:focus {
        color: #fff;
        background-image: none;
    }
    .filters input {
        width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .filters p {
        clear: none;
    }
    .filters a {
        display: inline-block;
        margin: 0;
    }
    .filters .count:after {
        content: ' selected';
    }
    .filters .clear {
        padding: 0 5px;
    }
    .filters .compare {
        background-image: none;
        width: auto;
        height: auto;
    }
    .filters .view-switcher {
        border: 0;
        width: auto;
    }
    .filters .view-switcher a {
        float: none;
        display: inline-block;
    }
}

/* 2 line horizontal filter */
@media only screen and (max-width: 1041px) {
    .filters input {
        clear: left;
    }
}

/* 3 line horizontal filter */
@media only screen and (max-width: 796px) {
    .filters {
        text-align: center;
    }
    .filters header, .filters input {
        float: none;
        clear: both;
        display: block;
    }
    .filters header {
        margin: 0;
    }
    .filters input {
        margin: 10px auto;
        width: 220px;
    }
    .faction {
        width: 50%;
    }
}

/* 5 line horizontal filter */
@media only screen and (max-width: 630px) {
    h1 {
        font-size: 1em;
    }
    .filters p {
        float: none;
        margin: 0;
    }
    .filters .count:after {
        content: '';
    }
}

@media only screen and (max-width: 450px) {
    .filters input {
        width: 200px;
    }
    .filters p {
        white-space: nowrap;
    }
    .faction {
        width: 100%;
        float: none;
        overflow: hidden;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 198px) {
    .faction {
        width: 192px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


div.gdiBaseCategory {
   width: 100%;
   display: block;
   clear: both;
}

div.gdiBaseCategory div.clear {
   clear: both;
}

section.gdiCategory {
   width: 100%;
   display: block;
   clear: both;
}

section.gdiCategory h2.gdiCategory {
   /*width: 600px;*/
   margin-left: 8px;
   margin-right: 8px;
   float: left;
}

section.gdiCategory .faction {
   min-height: 72px;
   width: 72px;
   display:block;
}

section.gdiCategory a.thumb {
   margin-bottom: 8px;
}

div.gdiItemsContainer {
   float: left;
}
.filters.gdi {
   float: left;
   margin-right: 7px;
}

@media only screen and (min-width: 1479px) {
    .filters.gdi {
        left: 0;
        right: auto;
    }
    div.gdiItemsContainer {
        margin-left: 160px;
    }
}

.tools {
    position: fixed;
    top: 385px;
    left: 0;
}

.compact h1 {
    font-size: 1.3em;
}

.compact h2 {
    font-size: 1em;
    margin: 3px 0;
    font-weight: normal;
    font-family: 'Muli', Verdana, Arial, sans-serif;
}

.compact .thumb {
    background: none;
    width: 21px;
    height: 21px;
    margin-right: 3px
}

.compact .thumb .strategic {
    top: 1px;
    left: 2px;
}

.compact div.gdiBaseCategory {
    margin-bottom: 3em;
}

.compact .gdiCategory .faction {
    min-height: 21px;
    width: 24px;
}
