/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-DAA0206 {
  background-image: url(../img/units.png);
  background-position: -64px 0px;
  width: 64px;
  height: 64px;
}
.icon-DAL0310 {
  background-image: url(../img/units.png);
  background-position: -896px -512px;
  width: 64px;
  height: 64px;
}
.icon-DALK003 {
  background-image: url(../img/units.png);
  background-position: 0px -64px;
  width: 64px;
  height: 64px;
}
.icon-DEA0202 {
  background-image: url(../img/units.png);
  background-position: -64px -64px;
  width: 64px;
  height: 64px;
}
.icon-DEL0204 {
  background-image: url(../img/units.png);
  background-position: -128px 0px;
  width: 64px;
  height: 64px;
}
.icon-DELK002 {
  background-image: url(../img/units.png);
  background-position: -128px -64px;
  width: 64px;
  height: 64px;
}
.icon-DRA0202 {
  background-image: url(../img/units.png);
  background-position: 0px -128px;
  width: 64px;
  height: 64px;
}
.icon-DRL0204 {
  background-image: url(../img/units.png);
  background-position: -64px -128px;
  width: 64px;
  height: 64px;
}
.icon-DRLK001 {
  background-image: url(../img/units.png);
  background-position: -128px -128px;
  width: 64px;
  height: 64px;
}
.icon-DSLK004 {
  background-image: url(../img/units.png);
  background-position: -192px 0px;
  width: 64px;
  height: 64px;
}
.icon-UAA0101 {
  background-image: url(../img/units.png);
  background-position: -192px -64px;
  width: 64px;
  height: 64px;
}
.icon-UAA0102 {
  background-image: url(../img/units.png);
  background-position: -192px -128px;
  width: 64px;
  height: 64px;
}
.icon-UAA0103 {
  background-image: url(../img/units.png);
  background-position: 0px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAA0104 {
  background-image: url(../img/units.png);
  background-position: -64px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAA0107 {
  background-image: url(../img/units.png);
  background-position: -128px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAA0203 {
  background-image: url(../img/units.png);
  background-position: -192px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAA0204 {
  background-image: url(../img/units.png);
  background-position: -256px 0px;
  width: 64px;
  height: 64px;
}
.icon-UAA0302 {
  background-image: url(../img/units.png);
  background-position: -256px -64px;
  width: 64px;
  height: 64px;
}
.icon-UAA0303 {
  background-image: url(../img/units.png);
  background-position: -256px -128px;
  width: 64px;
  height: 64px;
}
.icon-UAA0304 {
  background-image: url(../img/units.png);
  background-position: -256px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAA0310 {
  background-image: url(../img/units.png);
  background-position: 0px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAB0101 {
  background-image: url(../img/units.png);
  background-position: -64px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAB0102 {
  background-image: url(../img/units.png);
  background-position: -128px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAB0103 {
  background-image: url(../img/units.png);
  background-position: -192px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAB0201 {
  background-image: url(../img/units.png);
  background-position: -256px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAB0202 {
  background-image: url(../img/units.png);
  background-position: -320px 0px;
  width: 64px;
  height: 64px;
}
.icon-UAB0203 {
  background-image: url(../img/units.png);
  background-position: -320px -64px;
  width: 64px;
  height: 64px;
}
.icon-UAB0301 {
  background-image: url(../img/units.png);
  background-position: -320px -128px;
  width: 64px;
  height: 64px;
}
.icon-UAB0302 {
  background-image: url(../img/units.png);
  background-position: -320px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAB0303 {
  background-image: url(../img/units.png);
  background-position: -320px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAB0304 {
  background-image: url(../img/units.png);
  background-position: 0px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAB1101 {
  background-image: url(../img/units.png);
  background-position: -64px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAB1102 {
  background-image: url(../img/units.png);
  background-position: -128px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAB1103 {
  background-image: url(../img/units.png);
  background-position: -192px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAB1104 {
  background-image: url(../img/units.png);
  background-position: -256px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAB1105 {
  background-image: url(../img/units.png);
  background-position: -320px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAB1106 {
  background-image: url(../img/units.png);
  background-position: -384px 0px;
  width: 64px;
  height: 64px;
}
.icon-UAB1201 {
  background-image: url(../img/units.png);
  background-position: -384px -64px;
  width: 64px;
  height: 64px;
}
.icon-UAB1202 {
  background-image: url(../img/units.png);
  background-position: -384px -128px;
  width: 64px;
  height: 64px;
}
.icon-UAB1301 {
  background-image: url(../img/units.png);
  background-position: -384px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAB1302 {
  background-image: url(../img/units.png);
  background-position: -384px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAB1303 {
  background-image: url(../img/units.png);
  background-position: -384px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAB2101 {
  background-image: url(../img/units.png);
  background-position: 0px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAB2104 {
  background-image: url(../img/units.png);
  background-position: -64px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAB2108 {
  background-image: url(../img/units.png);
  background-position: -128px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAB2109 {
  background-image: url(../img/units.png);
  background-position: -192px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAB2204 {
  background-image: url(../img/units.png);
  background-position: -256px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAB2205 {
  background-image: url(../img/units.png);
  background-position: -320px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAB2301 {
  background-image: url(../img/units.png);
  background-position: -384px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAB2302 {
  background-image: url(../img/units.png);
  background-position: -448px 0px;
  width: 64px;
  height: 64px;
}
.icon-UAB2303 {
  background-image: url(../img/units.png);
  background-position: -448px -64px;
  width: 64px;
  height: 64px;
}
.icon-UAB2304 {
  background-image: url(../img/units.png);
  background-position: -448px -128px;
  width: 64px;
  height: 64px;
}
.icon-UAB2305 {
  background-image: url(../img/units.png);
  background-position: -448px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAB3101 {
  background-image: url(../img/units.png);
  background-position: -448px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAB3102 {
  background-image: url(../img/units.png);
  background-position: -448px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAB3104 {
  background-image: url(../img/units.png);
  background-position: -448px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAB3201 {
  background-image: url(../img/units.png);
  background-position: 0px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAB3202 {
  background-image: url(../img/units.png);
  background-position: -64px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAB4201 {
  background-image: url(../img/units.png);
  background-position: -128px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAB4202 {
  background-image: url(../img/units.png);
  background-position: -192px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAB4203 {
  background-image: url(../img/units.png);
  background-position: -256px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAB4301 {
  background-image: url(../img/units.png);
  background-position: -320px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAB4302 {
  background-image: url(../img/units.png);
  background-position: -384px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAB5101 {
  background-image: url(../img/units.png);
  background-position: -448px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAB5202 {
  background-image: url(../img/units.png);
  background-position: -512px 0px;
  width: 64px;
  height: 64px;
}
.icon-UAL0001 {
  background-image: url(../img/units.png);
  background-position: -512px -64px;
  width: 64px;
  height: 64px;
}
.icon-UAL0101 {
  background-image: url(../img/units.png);
  background-position: -512px -128px;
  width: 64px;
  height: 64px;
}
.icon-UAL0103 {
  background-image: url(../img/units.png);
  background-position: -512px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAL0104 {
  background-image: url(../img/units.png);
  background-position: -512px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAL0105 {
  background-image: url(../img/units.png);
  background-position: -512px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAL0106 {
  background-image: url(../img/units.png);
  background-position: -512px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAL0111 {
  background-image: url(../img/units.png);
  background-position: -512px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAL0201 {
  background-image: url(../img/units.png);
  background-position: 0px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0202 {
  background-image: url(../img/units.png);
  background-position: -64px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0205 {
  background-image: url(../img/units.png);
  background-position: -128px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0208 {
  background-image: url(../img/units.png);
  background-position: -192px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0301 {
  background-image: url(../img/units.png);
  background-position: -256px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0303 {
  background-image: url(../img/units.png);
  background-position: -320px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0304 {
  background-image: url(../img/units.png);
  background-position: -384px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0307 {
  background-image: url(../img/units.png);
  background-position: -448px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0309 {
  background-image: url(../img/units.png);
  background-position: -512px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAL0401 {
  background-image: url(../img/units.png);
  background-position: -576px 0px;
  width: 64px;
  height: 64px;
}
.icon-UAS0102 {
  background-image: url(../img/units.png);
  background-position: -576px -64px;
  width: 64px;
  height: 64px;
}
.icon-UAS0103 {
  background-image: url(../img/units.png);
  background-position: -576px -128px;
  width: 64px;
  height: 64px;
}
.icon-UAS0201 {
  background-image: url(../img/units.png);
  background-position: -576px -192px;
  width: 64px;
  height: 64px;
}
.icon-UAS0202 {
  background-image: url(../img/units.png);
  background-position: -576px -256px;
  width: 64px;
  height: 64px;
}
.icon-UAS0203 {
  background-image: url(../img/units.png);
  background-position: -576px -320px;
  width: 64px;
  height: 64px;
}
.icon-UAS0302 {
  background-image: url(../img/units.png);
  background-position: -576px -384px;
  width: 64px;
  height: 64px;
}
.icon-UAS0303 {
  background-image: url(../img/units.png);
  background-position: -576px -448px;
  width: 64px;
  height: 64px;
}
.icon-UAS0304 {
  background-image: url(../img/units.png);
  background-position: -576px -512px;
  width: 64px;
  height: 64px;
}
.icon-UAS0305 {
  background-image: url(../img/units.png);
  background-position: 0px -576px;
  width: 64px;
  height: 64px;
}
.icon-UAS0401 {
  background-image: url(../img/units.png);
  background-position: -64px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0003 {
  background-image: url(../img/units.png);
  background-position: -128px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0101 {
  background-image: url(../img/units.png);
  background-position: -192px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0102 {
  background-image: url(../img/units.png);
  background-position: -256px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0103 {
  background-image: url(../img/units.png);
  background-position: -320px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0104 {
  background-image: url(../img/units.png);
  background-position: -384px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0107 {
  background-image: url(../img/units.png);
  background-position: -448px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0203 {
  background-image: url(../img/units.png);
  background-position: -512px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0204 {
  background-image: url(../img/units.png);
  background-position: -576px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEA0302 {
  background-image: url(../img/units.png);
  background-position: -640px 0px;
  width: 64px;
  height: 64px;
}
.icon-UEA0303 {
  background-image: url(../img/units.png);
  background-position: -640px -64px;
  width: 64px;
  height: 64px;
}
.icon-UEA0304 {
  background-image: url(../img/units.png);
  background-position: -640px -128px;
  width: 64px;
  height: 64px;
}
.icon-UEA0305 {
  background-image: url(../img/units.png);
  background-position: -640px -192px;
  width: 64px;
  height: 64px;
}
.icon-UEB0101 {
  background-image: url(../img/units.png);
  background-position: -640px -256px;
  width: 64px;
  height: 64px;
}
.icon-UEB0102 {
  background-image: url(../img/units.png);
  background-position: -640px -320px;
  width: 64px;
  height: 64px;
}
.icon-UEB0103 {
  background-image: url(../img/units.png);
  background-position: -640px -384px;
  width: 64px;
  height: 64px;
}
.icon-UEB0201 {
  background-image: url(../img/units.png);
  background-position: -640px -448px;
  width: 64px;
  height: 64px;
}
.icon-UEB0202 {
  background-image: url(../img/units.png);
  background-position: -640px -512px;
  width: 64px;
  height: 64px;
}
.icon-UEB0203 {
  background-image: url(../img/units.png);
  background-position: -640px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEB0301 {
  background-image: url(../img/units.png);
  background-position: 0px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB0302 {
  background-image: url(../img/units.png);
  background-position: -64px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB0303 {
  background-image: url(../img/units.png);
  background-position: -128px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB0304 {
  background-image: url(../img/units.png);
  background-position: -192px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB1101 {
  background-image: url(../img/units.png);
  background-position: -256px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB1102 {
  background-image: url(../img/units.png);
  background-position: -320px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB1103 {
  background-image: url(../img/units.png);
  background-position: -384px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB1104 {
  background-image: url(../img/units.png);
  background-position: -448px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB1105 {
  background-image: url(../img/units.png);
  background-position: -512px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB1106 {
  background-image: url(../img/units.png);
  background-position: -576px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB1201 {
  background-image: url(../img/units.png);
  background-position: -640px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB1202 {
  background-image: url(../img/units.png);
  background-position: -704px 0px;
  width: 64px;
  height: 64px;
}
.icon-UEB1301 {
  background-image: url(../img/units.png);
  background-position: -704px -64px;
  width: 64px;
  height: 64px;
}
.icon-UEB1302 {
  background-image: url(../img/units.png);
  background-position: -704px -128px;
  width: 64px;
  height: 64px;
}
.icon-UEB1303 {
  background-image: url(../img/units.png);
  background-position: -704px -192px;
  width: 64px;
  height: 64px;
}
.icon-UEB2101 {
  background-image: url(../img/units.png);
  background-position: -704px -256px;
  width: 64px;
  height: 64px;
}
.icon-UEB2104 {
  background-image: url(../img/units.png);
  background-position: -704px -320px;
  width: 64px;
  height: 64px;
}
.icon-UEB2108 {
  background-image: url(../img/units.png);
  background-position: -704px -384px;
  width: 64px;
  height: 64px;
}
.icon-UEB2109 {
  background-image: url(../img/units.png);
  background-position: -704px -448px;
  width: 64px;
  height: 64px;
}
.icon-UEB2204 {
  background-image: url(../img/units.png);
  background-position: -704px -512px;
  width: 64px;
  height: 64px;
}
.icon-UEB2205 {
  background-image: url(../img/units.png);
  background-position: -704px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEB2301 {
  background-image: url(../img/units.png);
  background-position: -704px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEB2302 {
  background-image: url(../img/units.png);
  background-position: 0px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB2303 {
  background-image: url(../img/units.png);
  background-position: -64px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB2304 {
  background-image: url(../img/units.png);
  background-position: -128px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB2305 {
  background-image: url(../img/units.png);
  background-position: -192px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB2401 {
  background-image: url(../img/units.png);
  background-position: -256px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB3101 {
  background-image: url(../img/units.png);
  background-position: -320px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB3102 {
  background-image: url(../img/units.png);
  background-position: -384px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB3104 {
  background-image: url(../img/units.png);
  background-position: -448px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB3201 {
  background-image: url(../img/units.png);
  background-position: -512px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB3202 {
  background-image: url(../img/units.png);
  background-position: -576px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB4201 {
  background-image: url(../img/units.png);
  background-position: -640px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB4202 {
  background-image: url(../img/units.png);
  background-position: -704px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEB4203 {
  background-image: url(../img/units.png);
  background-position: -768px 0px;
  width: 64px;
  height: 64px;
}
.icon-UEB4301 {
  background-image: url(../img/units.png);
  background-position: -768px -64px;
  width: 64px;
  height: 64px;
}
.icon-UEB4302 {
  background-image: url(../img/units.png);
  background-position: -768px -128px;
  width: 64px;
  height: 64px;
}
.icon-UEB5101 {
  background-image: url(../img/units.png);
  background-position: -768px -192px;
  width: 64px;
  height: 64px;
}
.icon-UEB5202 {
  background-image: url(../img/units.png);
  background-position: -768px -256px;
  width: 64px;
  height: 64px;
}
.icon-UEL0001 {
  background-image: url(../img/units.png);
  background-position: -768px -320px;
  width: 64px;
  height: 64px;
}
.icon-UEL0101 {
  background-image: url(../img/units.png);
  background-position: -768px -384px;
  width: 64px;
  height: 64px;
}
.icon-UEL0103 {
  background-image: url(../img/units.png);
  background-position: -768px -448px;
  width: 64px;
  height: 64px;
}
.icon-UEL0104 {
  background-image: url(../img/units.png);
  background-position: -768px -512px;
  width: 64px;
  height: 64px;
}
.icon-UEL0105 {
  background-image: url(../img/units.png);
  background-position: -768px -576px;
  width: 64px;
  height: 64px;
}
.icon-UEL0106 {
  background-image: url(../img/units.png);
  background-position: -768px -640px;
  width: 64px;
  height: 64px;
}
.icon-UEL0111 {
  background-image: url(../img/units.png);
  background-position: -768px -704px;
  width: 64px;
  height: 64px;
}
.icon-UEL0201 {
  background-image: url(../img/units.png);
  background-position: 0px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0202 {
  background-image: url(../img/units.png);
  background-position: -64px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0203 {
  background-image: url(../img/units.png);
  background-position: -128px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0205 {
  background-image: url(../img/units.png);
  background-position: -192px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0208 {
  background-image: url(../img/units.png);
  background-position: -256px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0301 {
  background-image: url(../img/units.png);
  background-position: -320px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0303 {
  background-image: url(../img/units.png);
  background-position: -384px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0304 {
  background-image: url(../img/units.png);
  background-position: -448px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0307 {
  background-image: url(../img/units.png);
  background-position: -512px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0309 {
  background-image: url(../img/units.png);
  background-position: -576px -768px;
  width: 64px;
  height: 64px;
}
.icon-UEL0401 {
  background-image: url(../img/units.png);
  background-position: -640px -768px;
  width: 64px;
  height: 64px;
}
.icon-UES0103 {
  background-image: url(../img/units.png);
  background-position: -704px -768px;
  width: 64px;
  height: 64px;
}
.icon-UES0201 {
  background-image: url(../img/units.png);
  background-position: -768px -768px;
  width: 64px;
  height: 64px;
}
.icon-UES0202 {
  background-image: url(../img/units.png);
  background-position: -832px 0px;
  width: 64px;
  height: 64px;
}
.icon-UES0203 {
  background-image: url(../img/units.png);
  background-position: -832px -64px;
  width: 64px;
  height: 64px;
}
.icon-UES0302 {
  background-image: url(../img/units.png);
  background-position: -832px -128px;
  width: 64px;
  height: 64px;
}
.icon-UES0304 {
  background-image: url(../img/units.png);
  background-position: -832px -192px;
  width: 64px;
  height: 64px;
}
.icon-UES0305 {
  background-image: url(../img/units.png);
  background-position: -832px -256px;
  width: 64px;
  height: 64px;
}
.icon-UES0401 {
  background-image: url(../img/units.png);
  background-position: -832px -320px;
  width: 64px;
  height: 64px;
}
.icon-URA0101 {
  background-image: url(../img/units.png);
  background-position: -832px -384px;
  width: 64px;
  height: 64px;
}
.icon-URA0102 {
  background-image: url(../img/units.png);
  background-position: -832px -448px;
  width: 64px;
  height: 64px;
}
.icon-URA0103 {
  background-image: url(../img/units.png);
  background-position: -832px -512px;
  width: 64px;
  height: 64px;
}
.icon-URA0104 {
  background-image: url(../img/units.png);
  background-position: -832px -576px;
  width: 64px;
  height: 64px;
}
.icon-URA0107 {
  background-image: url(../img/units.png);
  background-position: -832px -640px;
  width: 64px;
  height: 64px;
}
.icon-URA0203 {
  background-image: url(../img/units.png);
  background-position: -832px -704px;
  width: 64px;
  height: 64px;
}
.icon-URA0204 {
  background-image: url(../img/units.png);
  background-position: -832px -768px;
  width: 64px;
  height: 64px;
}
.icon-URA0302 {
  background-image: url(../img/units.png);
  background-position: 0px -832px;
  width: 64px;
  height: 64px;
}
.icon-URA0303 {
  background-image: url(../img/units.png);
  background-position: -64px -832px;
  width: 64px;
  height: 64px;
}
.icon-URA0304 {
  background-image: url(../img/units.png);
  background-position: -128px -832px;
  width: 64px;
  height: 64px;
}
.icon-URA0401 {
  background-image: url(../img/units.png);
  background-position: -192px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0101 {
  background-image: url(../img/units.png);
  background-position: -256px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0102 {
  background-image: url(../img/units.png);
  background-position: -320px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0103 {
  background-image: url(../img/units.png);
  background-position: -384px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0201 {
  background-image: url(../img/units.png);
  background-position: -448px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0202 {
  background-image: url(../img/units.png);
  background-position: -512px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0203 {
  background-image: url(../img/units.png);
  background-position: -576px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0301 {
  background-image: url(../img/units.png);
  background-position: -640px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0302 {
  background-image: url(../img/units.png);
  background-position: -704px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0303 {
  background-image: url(../img/units.png);
  background-position: -768px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB0304 {
  background-image: url(../img/units.png);
  background-position: -832px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB1101 {
  background-image: url(../img/units.png);
  background-position: -896px 0px;
  width: 64px;
  height: 64px;
}
.icon-URB1102 {
  background-image: url(../img/units.png);
  background-position: -896px -64px;
  width: 64px;
  height: 64px;
}
.icon-URB1103 {
  background-image: url(../img/units.png);
  background-position: -896px -128px;
  width: 64px;
  height: 64px;
}
.icon-URB1104 {
  background-image: url(../img/units.png);
  background-position: -896px -192px;
  width: 64px;
  height: 64px;
}
.icon-URB1105 {
  background-image: url(../img/units.png);
  background-position: -896px -256px;
  width: 64px;
  height: 64px;
}
.icon-URB1106 {
  background-image: url(../img/units.png);
  background-position: -896px -320px;
  width: 64px;
  height: 64px;
}
.icon-URB1201 {
  background-image: url(../img/units.png);
  background-position: -896px -384px;
  width: 64px;
  height: 64px;
}
.icon-URB1202 {
  background-image: url(../img/units.png);
  background-position: -896px -448px;
  width: 64px;
  height: 64px;
}
.icon-URB1301 {
  background-image: url(../img/units.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
}
.icon-URB1302 {
  background-image: url(../img/units.png);
  background-position: -896px -576px;
  width: 64px;
  height: 64px;
}
.icon-URB1303 {
  background-image: url(../img/units.png);
  background-position: -896px -640px;
  width: 64px;
  height: 64px;
}
.icon-URB2101 {
  background-image: url(../img/units.png);
  background-position: -896px -704px;
  width: 64px;
  height: 64px;
}
.icon-URB2104 {
  background-image: url(../img/units.png);
  background-position: -896px -768px;
  width: 64px;
  height: 64px;
}
.icon-URB2108 {
  background-image: url(../img/units.png);
  background-position: -896px -832px;
  width: 64px;
  height: 64px;
}
.icon-URB2109 {
  background-image: url(../img/units.png);
  background-position: 0px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB2204 {
  background-image: url(../img/units.png);
  background-position: -64px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB2205 {
  background-image: url(../img/units.png);
  background-position: -128px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB2301 {
  background-image: url(../img/units.png);
  background-position: -192px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB2302 {
  background-image: url(../img/units.png);
  background-position: -256px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB2303 {
  background-image: url(../img/units.png);
  background-position: -320px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB2304 {
  background-image: url(../img/units.png);
  background-position: -384px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB2305 {
  background-image: url(../img/units.png);
  background-position: -448px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB3101 {
  background-image: url(../img/units.png);
  background-position: -512px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB3102 {
  background-image: url(../img/units.png);
  background-position: -576px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB3104 {
  background-image: url(../img/units.png);
  background-position: -640px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB3201 {
  background-image: url(../img/units.png);
  background-position: -704px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB3202 {
  background-image: url(../img/units.png);
  background-position: -768px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB4201 {
  background-image: url(../img/units.png);
  background-position: -832px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB4202 {
  background-image: url(../img/units.png);
  background-position: -896px -896px;
  width: 64px;
  height: 64px;
}
.icon-URB4203 {
  background-image: url(../img/units.png);
  background-position: -960px 0px;
  width: 64px;
  height: 64px;
}
.icon-URB4204 {
  background-image: url(../img/units.png);
  background-position: -960px -64px;
  width: 64px;
  height: 64px;
}
.icon-URB4205 {
  background-image: url(../img/units.png);
  background-position: -960px -128px;
  width: 64px;
  height: 64px;
}
.icon-URB4206 {
  background-image: url(../img/units.png);
  background-position: -960px -192px;
  width: 64px;
  height: 64px;
}
.icon-URB4207 {
  background-image: url(../img/units.png);
  background-position: -960px -256px;
  width: 64px;
  height: 64px;
}
.icon-URB4302 {
  background-image: url(../img/units.png);
  background-position: -960px -320px;
  width: 64px;
  height: 64px;
}
.icon-URB5101 {
  background-image: url(../img/units.png);
  background-position: -960px -384px;
  width: 64px;
  height: 64px;
}
.icon-URB5202 {
  background-image: url(../img/units.png);
  background-position: -960px -448px;
  width: 64px;
  height: 64px;
}
.icon-URL0001 {
  background-image: url(../img/units.png);
  background-position: -960px -512px;
  width: 64px;
  height: 64px;
}
.icon-URL0101 {
  background-image: url(../img/units.png);
  background-position: -960px -576px;
  width: 64px;
  height: 64px;
}
.icon-URL0103 {
  background-image: url(../img/units.png);
  background-position: -960px -640px;
  width: 64px;
  height: 64px;
}
.icon-URL0104 {
  background-image: url(../img/units.png);
  background-position: -960px -704px;
  width: 64px;
  height: 64px;
}
.icon-URL0105 {
  background-image: url(../img/units.png);
  background-position: -960px -768px;
  width: 64px;
  height: 64px;
}
.icon-URL0106 {
  background-image: url(../img/units.png);
  background-position: -960px -832px;
  width: 64px;
  height: 64px;
}
.icon-URL0107 {
  background-image: url(../img/units.png);
  background-position: -960px -896px;
  width: 64px;
  height: 64px;
}
.icon-URL0111 {
  background-image: url(../img/units.png);
  background-position: 0px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0202 {
  background-image: url(../img/units.png);
  background-position: -64px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0203 {
  background-image: url(../img/units.png);
  background-position: -128px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0205 {
  background-image: url(../img/units.png);
  background-position: -192px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0208 {
  background-image: url(../img/units.png);
  background-position: -256px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0301 {
  background-image: url(../img/units.png);
  background-position: -320px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0303 {
  background-image: url(../img/units.png);
  background-position: -384px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0304 {
  background-image: url(../img/units.png);
  background-position: -448px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0306 {
  background-image: url(../img/units.png);
  background-position: -512px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0309 {
  background-image: url(../img/units.png);
  background-position: -576px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0401 {
  background-image: url(../img/units.png);
  background-position: -640px -960px;
  width: 64px;
  height: 64px;
}
.icon-URL0402 {
  background-image: url(../img/units.png);
  background-position: -704px -960px;
  width: 64px;
  height: 64px;
}
.icon-URS0103 {
  background-image: url(../img/units.png);
  background-position: -768px -960px;
  width: 64px;
  height: 64px;
}
.icon-URS0201 {
  background-image: url(../img/units.png);
  background-position: -832px -960px;
  width: 64px;
  height: 64px;
}
.icon-URS0202 {
  background-image: url(../img/units.png);
  background-position: -896px -960px;
  width: 64px;
  height: 64px;
}
.icon-URS0203 {
  background-image: url(../img/units.png);
  background-position: -960px -960px;
  width: 64px;
  height: 64px;
}
.icon-URS0302 {
  background-image: url(../img/units.png);
  background-position: -1024px 0px;
  width: 64px;
  height: 64px;
}
.icon-URS0303 {
  background-image: url(../img/units.png);
  background-position: -1024px -64px;
  width: 64px;
  height: 64px;
}
.icon-URS0304 {
  background-image: url(../img/units.png);
  background-position: -1024px -128px;
  width: 64px;
  height: 64px;
}
.icon-URS0305 {
  background-image: url(../img/units.png);
  background-position: -1024px -192px;
  width: 64px;
  height: 64px;
}
.icon-XAA0202 {
  background-image: url(../img/units.png);
  background-position: -1024px -256px;
  width: 64px;
  height: 64px;
}
.icon-XAA0305 {
  background-image: url(../img/units.png);
  background-position: -1024px -320px;
  width: 64px;
  height: 64px;
}
.icon-XAA0306 {
  background-image: url(../img/units.png);
  background-position: -1024px -384px;
  width: 64px;
  height: 64px;
}
.icon-XAB1401 {
  background-image: url(../img/units.png);
  background-position: -1024px -448px;
  width: 64px;
  height: 64px;
}
.icon-XAB2307 {
  background-image: url(../img/units.png);
  background-position: -1024px -512px;
  width: 64px;
  height: 64px;
}
.icon-XAB3301 {
  background-image: url(../img/units.png);
  background-position: -1024px -576px;
  width: 64px;
  height: 64px;
}
.icon-XAC2101 {
  background-image: url(../img/units.png);
  background-position: -1024px -640px;
  width: 64px;
  height: 64px;
}
.icon-XAL0203 {
  background-image: url(../img/units.png);
  background-position: -1024px -704px;
  width: 64px;
  height: 64px;
}
.icon-XAL0305 {
  background-image: url(../img/units.png);
  background-position: -1024px -768px;
  width: 64px;
  height: 64px;
}
.icon-XAS0204 {
  background-image: url(../img/units.png);
  background-position: -1024px -832px;
  width: 64px;
  height: 64px;
}
.icon-XAS0306 {
  background-image: url(../img/units.png);
  background-position: -1024px -896px;
  width: 64px;
  height: 64px;
}
.icon-XEA0002 {
  background-image: url(../img/units.png);
  background-position: -1024px -960px;
  width: 64px;
  height: 64px;
}
.icon-XEA0306 {
  background-image: url(../img/units.png);
  background-position: 0px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XEA3204 {
  background-image: url(../img/units.png);
  background-position: -64px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XEB0104 {
  background-image: url(../img/units.png);
  background-position: -128px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XEB0204 {
  background-image: url(../img/units.png);
  background-position: -192px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XEB2306 {
  background-image: url(../img/units.png);
  background-position: -256px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XEB2402 {
  background-image: url(../img/units.png);
  background-position: -320px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XEL0209 {
  background-image: url(../img/units.png);
  background-position: -384px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XEL0305 {
  background-image: url(../img/units.png);
  background-position: -448px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XEL0306 {
  background-image: url(../img/units.png);
  background-position: -512px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XES0102 {
  background-image: url(../img/units.png);
  background-position: -576px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XES0205 {
  background-image: url(../img/units.png);
  background-position: -640px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XES0307 {
  background-image: url(../img/units.png);
  background-position: -704px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XRA0105 {
  background-image: url(../img/units.png);
  background-position: -768px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XRA0305 {
  background-image: url(../img/units.png);
  background-position: -832px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XRB0104 {
  background-image: url(../img/units.png);
  background-position: -896px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XRB0204 {
  background-image: url(../img/units.png);
  background-position: -960px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XRB0304 {
  background-image: url(../img/units.png);
  background-position: -1024px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XRB2308 {
  background-image: url(../img/units.png);
  background-position: -1088px 0px;
  width: 64px;
  height: 64px;
}
.icon-XRB3301 {
  background-image: url(../img/units.png);
  background-position: -1088px -64px;
  width: 64px;
  height: 64px;
}
.icon-XRL0002 {
  background-image: url(../img/units.png);
  background-position: -1088px -128px;
  width: 64px;
  height: 64px;
}
.icon-XRL0003 {
  background-image: url(../img/units.png);
  background-position: -1088px -192px;
  width: 64px;
  height: 64px;
}
.icon-XRL0004 {
  background-image: url(../img/units.png);
  background-position: -1088px -256px;
  width: 64px;
  height: 64px;
}
.icon-XRL0005 {
  background-image: url(../img/units.png);
  background-position: -1088px -320px;
  width: 64px;
  height: 64px;
}
.icon-XRL0302 {
  background-image: url(../img/units.png);
  background-position: -1088px -384px;
  width: 64px;
  height: 64px;
}
.icon-XRL0305 {
  background-image: url(../img/units.png);
  background-position: -1088px -448px;
  width: 64px;
  height: 64px;
}
.icon-XRL0403 {
  background-image: url(../img/units.png);
  background-position: -1088px -512px;
  width: 64px;
  height: 64px;
}
.icon-XRS0204 {
  background-image: url(../img/units.png);
  background-position: -1088px -576px;
  width: 64px;
  height: 64px;
}
.icon-XRS0205 {
  background-image: url(../img/units.png);
  background-position: -1088px -640px;
  width: 64px;
  height: 64px;
}
.icon-XSA0101 {
  background-image: url(../img/units.png);
  background-position: -1088px -704px;
  width: 64px;
  height: 64px;
}
.icon-XSA0102 {
  background-image: url(../img/units.png);
  background-position: -1088px -768px;
  width: 64px;
  height: 64px;
}
.icon-XSA0103 {
  background-image: url(../img/units.png);
  background-position: -1088px -832px;
  width: 64px;
  height: 64px;
}
.icon-XSA0104 {
  background-image: url(../img/units.png);
  background-position: -1088px -896px;
  width: 64px;
  height: 64px;
}
.icon-XSA0107 {
  background-image: url(../img/units.png);
  background-position: -1088px -960px;
  width: 64px;
  height: 64px;
}
.icon-XSA0202 {
  background-image: url(../img/units.png);
  background-position: -1088px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XSA0203 {
  background-image: url(../img/units.png);
  background-position: 0px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSA0204 {
  background-image: url(../img/units.png);
  background-position: -64px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSA0302 {
  background-image: url(../img/units.png);
  background-position: -128px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSA0303 {
  background-image: url(../img/units.png);
  background-position: -192px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSA0304 {
  background-image: url(../img/units.png);
  background-position: -256px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSA0402 {
  background-image: url(../img/units.png);
  background-position: -320px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0101 {
  background-image: url(../img/units.png);
  background-position: -384px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0102 {
  background-image: url(../img/units.png);
  background-position: -448px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0103 {
  background-image: url(../img/units.png);
  background-position: -512px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0201 {
  background-image: url(../img/units.png);
  background-position: -576px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0202 {
  background-image: url(../img/units.png);
  background-position: -640px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0203 {
  background-image: url(../img/units.png);
  background-position: -704px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0301 {
  background-image: url(../img/units.png);
  background-position: -768px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0302 {
  background-image: url(../img/units.png);
  background-position: -832px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0303 {
  background-image: url(../img/units.png);
  background-position: -896px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB0304 {
  background-image: url(../img/units.png);
  background-position: -960px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB1101 {
  background-image: url(../img/units.png);
  background-position: -1024px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB1102 {
  background-image: url(../img/units.png);
  background-position: -1088px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB1103 {
  background-image: url(../img/units.png);
  background-position: -1152px 0px;
  width: 64px;
  height: 64px;
}
.icon-XSB1104 {
  background-image: url(../img/units.png);
  background-position: -1152px -64px;
  width: 64px;
  height: 64px;
}
.icon-XSB1105 {
  background-image: url(../img/units.png);
  background-position: -1152px -128px;
  width: 64px;
  height: 64px;
}
.icon-XSB1106 {
  background-image: url(../img/units.png);
  background-position: -1152px -192px;
  width: 64px;
  height: 64px;
}
.icon-XSB1201 {
  background-image: url(../img/units.png);
  background-position: -1152px -256px;
  width: 64px;
  height: 64px;
}
.icon-XSB1202 {
  background-image: url(../img/units.png);
  background-position: -1152px -320px;
  width: 64px;
  height: 64px;
}
.icon-XSB1301 {
  background-image: url(../img/units.png);
  background-position: -1152px -384px;
  width: 64px;
  height: 64px;
}
.icon-XSB1302 {
  background-image: url(../img/units.png);
  background-position: -1152px -448px;
  width: 64px;
  height: 64px;
}
.icon-XSB1303 {
  background-image: url(../img/units.png);
  background-position: -1152px -512px;
  width: 64px;
  height: 64px;
}
.icon-XSB2101 {
  background-image: url(../img/units.png);
  background-position: -1152px -576px;
  width: 64px;
  height: 64px;
}
.icon-XSB2104 {
  background-image: url(../img/units.png);
  background-position: -1152px -640px;
  width: 64px;
  height: 64px;
}
.icon-XSB2108 {
  background-image: url(../img/units.png);
  background-position: -1152px -704px;
  width: 64px;
  height: 64px;
}
.icon-XSB2109 {
  background-image: url(../img/units.png);
  background-position: -1152px -768px;
  width: 64px;
  height: 64px;
}
.icon-XSB2204 {
  background-image: url(../img/units.png);
  background-position: -1152px -832px;
  width: 64px;
  height: 64px;
}
.icon-XSB2205 {
  background-image: url(../img/units.png);
  background-position: -1152px -896px;
  width: 64px;
  height: 64px;
}
.icon-XSB2301 {
  background-image: url(../img/units.png);
  background-position: -1152px -960px;
  width: 64px;
  height: 64px;
}
.icon-XSB2302 {
  background-image: url(../img/units.png);
  background-position: -1152px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XSB2303 {
  background-image: url(../img/units.png);
  background-position: -1152px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSB2304 {
  background-image: url(../img/units.png);
  background-position: 0px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB2305 {
  background-image: url(../img/units.png);
  background-position: -64px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB2401 {
  background-image: url(../img/units.png);
  background-position: -128px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB3101 {
  background-image: url(../img/units.png);
  background-position: -192px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB3102 {
  background-image: url(../img/units.png);
  background-position: -256px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB3104 {
  background-image: url(../img/units.png);
  background-position: -320px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB3201 {
  background-image: url(../img/units.png);
  background-position: -384px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB3202 {
  background-image: url(../img/units.png);
  background-position: -448px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB4201 {
  background-image: url(../img/units.png);
  background-position: -512px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB4202 {
  background-image: url(../img/units.png);
  background-position: -576px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB4203 {
  background-image: url(../img/units.png);
  background-position: -640px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB4301 {
  background-image: url(../img/units.png);
  background-position: -704px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB4302 {
  background-image: url(../img/units.png);
  background-position: -768px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB5101 {
  background-image: url(../img/units.png);
  background-position: -832px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSB5202 {
  background-image: url(../img/units.png);
  background-position: -896px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSL0001 {
  background-image: url(../img/units.png);
  background-position: -960px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSL0101 {
  background-image: url(../img/units.png);
  background-position: -1024px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSL0103 {
  background-image: url(../img/units.png);
  background-position: -1088px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSL0104 {
  background-image: url(../img/units.png);
  background-position: -1152px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSL0105 {
  background-image: url(../img/units.png);
  background-position: -1216px 0px;
  width: 64px;
  height: 64px;
}
.icon-XSL0111 {
  background-image: url(../img/units.png);
  background-position: -1216px -64px;
  width: 64px;
  height: 64px;
}
.icon-XSL0201 {
  background-image: url(../img/units.png);
  background-position: -1216px -128px;
  width: 64px;
  height: 64px;
}
.icon-XSL0202 {
  background-image: url(../img/units.png);
  background-position: -1216px -192px;
  width: 64px;
  height: 64px;
}
.icon-XSL0203 {
  background-image: url(../img/units.png);
  background-position: -1216px -256px;
  width: 64px;
  height: 64px;
}
.icon-XSL0205 {
  background-image: url(../img/units.png);
  background-position: -1216px -320px;
  width: 64px;
  height: 64px;
}
.icon-XSL0208 {
  background-image: url(../img/units.png);
  background-position: -1216px -384px;
  width: 64px;
  height: 64px;
}
.icon-XSL0301 {
  background-image: url(../img/units.png);
  background-position: -1216px -448px;
  width: 64px;
  height: 64px;
}
.icon-XSL0303 {
  background-image: url(../img/units.png);
  background-position: -1216px -512px;
  width: 64px;
  height: 64px;
}
.icon-XSL0304 {
  background-image: url(../img/units.png);
  background-position: -1216px -576px;
  width: 64px;
  height: 64px;
}
.icon-XSL0305 {
  background-image: url(../img/units.png);
  background-position: -1216px -640px;
  width: 64px;
  height: 64px;
}
.icon-XSL0307 {
  background-image: url(../img/units.png);
  background-position: -1216px -704px;
  width: 64px;
  height: 64px;
}
.icon-XSL0309 {
  background-image: url(../img/units.png);
  background-position: -1216px -768px;
  width: 64px;
  height: 64px;
}
.icon-XSL0401 {
  background-image: url(../img/units.png);
  background-position: -1216px -832px;
  width: 64px;
  height: 64px;
}
.icon-XSL0402 {
  background-image: url(../img/units.png);
  background-position: -1216px -896px;
  width: 64px;
  height: 64px;
}
.icon-XSS0103 {
  background-image: url(../img/units.png);
  background-position: -1216px -960px;
  width: 64px;
  height: 64px;
}
.icon-XSS0201 {
  background-image: url(../img/units.png);
  background-position: -1216px -1024px;
  width: 64px;
  height: 64px;
}
.icon-XSS0202 {
  background-image: url(../img/units.png);
  background-position: -1216px -1088px;
  width: 64px;
  height: 64px;
}
.icon-XSS0203 {
  background-image: url(../img/units.png);
  background-position: -1216px -1152px;
  width: 64px;
  height: 64px;
}
.icon-XSS0302 {
  background-image: url(../img/units.png);
  background-position: 0px -1216px;
  width: 64px;
  height: 64px;
}
.icon-XSS0303 {
  background-image: url(../img/units.png);
  background-position: -64px -1216px;
  width: 64px;
  height: 64px;
}
.icon-XSS0304 {
  background-image: url(../img/units.png);
  background-position: -128px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZAB9501 {
  background-image: url(../img/units.png);
  background-position: -192px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZAB9502 {
  background-image: url(../img/units.png);
  background-position: -256px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZAB9503 {
  background-image: url(../img/units.png);
  background-position: -320px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZAB9601 {
  background-image: url(../img/units.png);
  background-position: -384px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZAB9602 {
  background-image: url(../img/units.png);
  background-position: -448px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZAB9603 {
  background-image: url(../img/units.png);
  background-position: -512px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZEB9501 {
  background-image: url(../img/units.png);
  background-position: -576px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZEB9502 {
  background-image: url(../img/units.png);
  background-position: -640px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZEB9503 {
  background-image: url(../img/units.png);
  background-position: -704px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZEB9601 {
  background-image: url(../img/units.png);
  background-position: -768px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZEB9602 {
  background-image: url(../img/units.png);
  background-position: -832px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZEB9603 {
  background-image: url(../img/units.png);
  background-position: -896px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZRB9501 {
  background-image: url(../img/units.png);
  background-position: -960px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZRB9502 {
  background-image: url(../img/units.png);
  background-position: -1024px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZRB9503 {
  background-image: url(../img/units.png);
  background-position: -1088px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZRB9601 {
  background-image: url(../img/units.png);
  background-position: -1152px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZRB9602 {
  background-image: url(../img/units.png);
  background-position: -1216px -1216px;
  width: 64px;
  height: 64px;
}
.icon-ZRB9603 {
  background-image: url(../img/units.png);
  background-position: -1280px 0px;
  width: 64px;
  height: 64px;
}
.icon-ZSB9501 {
  background-image: url(../img/units.png);
  background-position: -1280px -64px;
  width: 64px;
  height: 64px;
}
.icon-ZSB9502 {
  background-image: url(../img/units.png);
  background-position: -1280px -128px;
  width: 64px;
  height: 64px;
}
.icon-ZSB9503 {
  background-image: url(../img/units.png);
  background-position: -1280px -192px;
  width: 64px;
  height: 64px;
}
.icon-ZSB9601 {
  background-image: url(../img/units.png);
  background-position: -1280px -256px;
  width: 64px;
  height: 64px;
}
.icon-ZSB9602 {
  background-image: url(../img/units.png);
  background-position: -1280px -320px;
  width: 64px;
  height: 64px;
}
.icon-ZSB9603 {
  background-image: url(../img/units.png);
  background-position: -1280px -384px;
  width: 64px;
  height: 64px;
}
.icon-undefined {
  background-image: url(../img/units.png);
  background-position: -1280px -448px;
  width: 64px;
  height: 64px;
}
