<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FAF Units</title>
        <meta name="description" content="Forged Alliance Forever Unit Database">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png" />
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.min.css">
        <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script type="text/ng-template" id="thumb.html">
            <a class="thumb {{  item.faction|lowercase }}" ng-class="{selected: item.selected}" title="{{ item.fullName() }}" ng-click="click()">
                <!--img ng-src="img/units/unknown.png" alt="{{ item.fullName() }}" /-->
                <img ng-src="{{ item|pic }}" alt="{{ item.fullName() }}" />
                <img class="strategic" ng-src="{{ item|icon }}" alt="" />
            </a>
        </script>

        <script type="text/ng-template" id="unit.html">
            <article class="details faction {{ item.faction|lowercase }}">
                <header>
                    <span class="thumb" title="{{ item.fullName() }}">
                        <img ng-src="{{ item|pic }}" alt="{{ item.fullName() }}" />
                        <img class="strategic" ng-src="{{ item|icon }}" alt="" />
                    </span>
                    <h1>{{ item.fullName() }}<small> {{ item.faction }}</small></h1>
                </header>
                <section>
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="img/health.png" alt="health" />{{ item.Defense.Health }}<small ng-if="item.Defense.RegenRate">&nbsp;({{ item.Defense.RegenRate }}hp/s)</small></td>
                                <td><img src="img/mass.png" alt="mass" />{{ item.Economy.BuildCostMass }}</td>
                                <td><img src="img/energy.png" alt="energy" />{{ item.Economy.BuildCostEnergy }}</td>
                                <td><img src="img/time.png" alt="time" />{{ item.Economy.BuildTime }}</td>
                            </tr>

                            <!-- Economy -->
                            <tr ng-repeat="(k, v) in item.Economy | pick: ['BuildRate', 'StorageMass', 'StorageEnergy', 'ProductionPerSecondMass', 'ProductionPerSecondEnergy', 'MaintenanceConsumptionPerSecondEnergy']" ng-class="{ sec: $first }">
                                <td ng-class="{ invisible: !$first }">Economy</td>
                                <td colspan="2">{{ {'BuildRate': 'Build rate', 'StorageMass': 'Storage mass', 'StorageEnergy': 'Storage energy', 'ProductionPerSecondMass': 'Yield mass', 'ProductionPerSecondEnergy': 'Yield energy', 'MaintenanceConsumptionPerSecondEnergy': 'Drain energy'}[k] }}</td>
                                <td>{{ v }}</td>
                            </tr>

                            <!-- Abilities -->
                            <tr class="sec">
                                <td>Abilities</td>
                                <td colspan="3" ng-bind-html="item.Display.Abilities|flatten|unsafe"></td>
                            </tr>

                            <!-- Intel -->
                            <tr class="sec">
                                <td>Intel</td>
                                <td colspan="2">Vision radius:</td>
                                <td>{{ item.Intel.VisionRadius }}</td>
                            </tr>
                            <tr ng-if="item.Intel.RadarRadius">
                                <td></td>
                                <td colspan="2">Radar radius:</td>
                                <td>{{ item.Intel.RadarRadius }}</td>
                            </tr>
                            <tr ng-if="item.Intel.SonarRadius">
                                <td></td>
                                <td colspan="2">Sonar radius:</td>
                                <td>{{ item.Intel.SonarRadius }}</td>
                            </tr>

                            <!-- Physics -->
                            <tr ng-if="item.Physics.MaxSpeed" class="sec">
                                <td>Physics</td>
                                <td colspan="2">Max speed:</td>
                                <td>{{ item.Physics.MaxSpeed }}</td>
                            </tr>
                            <tr ng-if="item.Physics.TurnRate">
                                <td></td>
                                <td colspan="2">Turn rate:</td>
                                <td>{{ item.Physics.TurnRate }}</td>
                            </tr>
                            <tr ng-if="item.Physics.FuelUseTime">
                                <td></td>
                                <td colspan="2">Fuel use time:</td>
                                <td>{{ item.Physics.FuelUseTime | time }}</td>
                            </tr>
                            <tr ng-if="item.Physics.FuelRechargeRate">
                                <td></td>
                                <td colspan="2">Fuel rechanrge time:</td>
                                <td>{{ 10*item.Physics.FuelUseTime / item.Physics.FuelRechargeRate | time }}</td>
                            </tr>

                            <!-- Air Physics -->
                            <tr ng-if="item.Air.MinAirspeed" class="sec">
                                <td>Air Physics:</td>
                                <td colspan="2">Speed:</td>
                                <td>{{ item.Air.MinAirspeed }}-{{ item.Air.MaxAirspeed }}</td>
                            </tr>
                            <tr ng-if="item.Physics.Elevation">
                                <td></td>
                                <td colspan="2">Elevation:</td>
                                <td>{{ item.Physics.Elevation }}</td>
                            </tr>
                            <tr ng-if="item.Air.EngageDistance">
                                <td></td>
                                <td colspan="2">Engage distance:</td>
                                <td>{{ item.Air.EngageDistance }}</td>
                            </tr>
                            <tr ng-if="item.Air.TurnSpeed">
                                <td></td>
                                <td colspan="2">Turn speed:</td>
                                <td>{{ item.Air.TurnSpeed }}</td>
                            </tr>
                            <tr ng-if="item.Air.CombatTurnSpeed">
                                <td></td>
                                <td colspan="2">Combat turn speed:</td>
                                <td>{{ item.Air.CombatTurnSpeed }}</td>
                            </tr>

                            <!-- Wreckage -->
                            <tr ng-if="item.Wreckage.HealthMult" class="sec">
                                <td>Wreckage</td>
                                <td colspan="2">Health:</td>
                                <td>{{ item.Wreckage.HealthMult*item.Defense.Health | round }}</td>
                            </tr>
                            <tr ng-if="item.Wreckage.MassMult">
                                <td></td>
                                <td colspan="2">Mass:</td>
                                <td>{{ item.Wreckage.MassMult*item.Economy.BuildCostMass | round }}</td>
                            </tr>

                            <!-- Veterancy -->
                            <tr ng-if="item.Veteran" ng-repeat="lv in [1,2,3,4,5]" class="sec">
                                <td ng-class="{ invisible: !$first }">Veterancy</td>
                                <td title="kills"><small>{{ item.Veteran['Level'+lv] }}</small></td>
                                <td title="health"><small>{{ item.Defense.Health * lv * 1.1 | round }}hp</small></td>
                                <td title="regeneration rate"><small>{{ item.Defense.RegenRate + item.Buffs.Regen['Level'+lv] }}hp/s</small></td>
                            </tr>

                            <!-- Weapons -->
                            <tr ng-if="item.Weapon" ng-repeat-start="w in item.Weapon" class="sec">
                                <td ng-class="{ invisible: !$first }">Weapons</td>
                                <td colspan="3">{{ w.DisplayName }}</td>
                            </tr>
                            <tr ng-repeat-end>
                                <td></td>
                                <td title="category (damage type)" colspan="2"><small>{{ w.WeaponCategory }} ({{ w.DamageType }})</small></td>
                                <td title="damage per second"><small>{{ w | dps }}dps!?</small></td>
                            </tr>

                            <!-- Upgrades -->
                            <!--tr class="sec">
                                <td>Upgrades</td>
                                <td colspan="2">?:</td>
                                <td></td>
                            </tr-->

                        </tbody>
                    </table>
                </section>
            </article>
        </script>

        <script type="text/ng-template" id="home.html">
            <!--header><h1>Forged Alliance Forever Unit Database</h1></header-->
            <section ng-repeat="f in index|pluck:'faction'|uniq" class="faction">
                <h1 class="{{ f|lowercase }}">{{ f }}</h1>
                <div class="kind" ng-repeat="c in ['Build', 'Base', 'Land', 'Air', 'Naval']">
                    <thumb ng-repeat="u in index|where:{faction: f, classification: c}|filter:strain|filter:expr" content="u" click="compare(u)"></ng-thumb>
                </div>
            </section>
            <aside class="filters">
                <header>
                    <span class="count" title="{{ contenders.length }} selected">{{ contenders.length }}</span>
                    <a href="#" title="clear selection" class="clear" ng-click="clear()">x</a>
                    <a href="#/{{ contenders.join(',') }}" title="compare">compare</a>
                </header>
                <input type="text" placeholder="filter" autofocus ng-model="expr" />
                <p>
                    <a ng-repeat="f in ['UEF', 'Cybran', 'Aeon', 'Seraphim']" title="{{ f }}" ng-click="toggleFaction(f)" ng-class="{active: factionSelected(f)}">
                        <img ng-src="img/{{ f }}.png" alt="{{ f }}" />
                    </a>
                </p>
                <p>
                    <a ng-repeat="k in ['Land', 'Air', 'Naval', 'Base']" title="{{ k }}" ng-click="toggleKind(k)" ng-class="{active: kindSelected(k)}">
                        <img ng-src="img/{{ k }}.png" alt="{{ k }}" />
                    </a>
                </p>
                <p>
                    <a ng-repeat="t in ['T1', 'T2', 'T3', 'EXP']" title="{{ t }}" ng-click="toggleTech(t)" ng-class="{active: techSelected(t)}">
                        <img ng-src="img/{{ t }}.png" alt="{{ t }}" />
                    </a>
                </p>
            </aside>
            <footer><span>last update: 2014-02-06</span> | <span>unit count: {{ index.length }}</span> | <a href="https://github.com/spooky/unitdb/issues">issues</a> | <a href="https://github.com/spooky/unitdb">source</a></footer>
        </script>

        <script type="text/ng-template" id="compare.html">
            <section>
                <unit ng-repeat="u in contenders" content="u"></ng-unit>
            </section>
            <aside class="filters">
            </aside>
        </script>

        <ng-view></ng-view>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.0.3.min.js"><\/script>')</script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/angular-route.js"></script>
        <script src="js/vendor/angular-sanitize.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/angular-underscore.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/services.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
        <script>$.get(window.location.hostname == 'localhost' && window.location.search.search("all") == -1 ? 'data/index.dev.json' : 'data/index.json', function(d){unitDb.start('unitDb', typeof d == 'string' ? JSON.parse(d) : d)});</script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-46228146-1', 'spooky.github.io');
          ga('send', 'pageview');
        </script>
    </body>
</html>
