<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FAF Units</title>
        <meta name="description" content="Forged Alliance Forever Unit Database">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.min.css">
        <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body ng-app="app">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script type="text/ng-template" id="thumb.html">
            <a class="thumb" href="#{{ item.id }}" title="{{ item|name }}">
<!--
                <img ng-src="/img/units/{{ item.id }}.png" alt="{{ item|name }}" />
                <img class="strategic" ng-src="/img/strategic/{{ item.faction }}_{{ item.strategicIcon }}.png" alt="" />
-->
                <img ng-src="/img/units/unknown.png" alt="{{ item|name }}" />
            </a>
        </script>

        <script type="text/ng-template" id="home.html">
            <!--header><h1>Forged Alliance Forever Unit Database</h1></header-->
            <section ng-repeat="f in index|pluck:'faction'|uniq" class="faction {{ f|lowercase }}">
                <h1>{{ f }}</h1>
                <div class="kind" ng-repeat="c in ['RULEUC_Engineer', 'RULEUC_Factory', 'RULEUC_MilitaryVehicle', 'RULEUC_MilitaryAircraft', 'RULEUC_MilitaryShip']">
                    <ng-card ng-repeat="u in index|where:{faction: f, classification: c}" ng-content="u"></ng-card>
                </div>
            </section>
            <aside class="filters">
                <h1>&nbsp;</h1>
                <input type="text" placeholder="search" /><br />
                <p>
                    <a href="#"><img src="/img/uef.png" alt="UEF" /></a>
                    <a href="#"><img src="/img/cybran.png" alt="Cybran" /></a>
                    <a href="#"><img src="/img/aeon.png" alt="Aeon" /></a>
                    <a href="#"><img src="/img/seraphim.png" alt="Seraphim" /></a>
                </p>
                <p>
                    <a href="#"><img src="/img/land.png" alt="Land" /></a>
                    <a href="#"><img src="/img/air.png" alt="Air" /></a>
                    <a href="#"><img src="/img/naval.png" alt="Naval" /></a>
                    <a href="#"><img src="/img/base.png" alt="Base" /></a>
                </p>
                <p>
                    <a href="#"><img src="/img/tech1.png" alt="T1" /></a>
                    <a href="#"><img src="/img/tech2.png" alt="T2" /></a>
                    <a href="#"><img src="/img/tech3.png" alt="T3" /></a>
                    <a href="#"><img src="/img/exp.png" alt="Experimental" /></a>
                </p>
            </aside>
            <footer>footer</footer>
        </script>

        <ng-view></ng-view>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.0.3.min.js"><\/script>')</script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/angular-route.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/angular-underscore.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <!--script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script-->
    </body>
</html>
