<header><h1>[GDI] Forged Alliance Forever Unit Database</h1></header>
<div class="gdiItemsContainer">
<div class="gdiBaseCategory" ng-repeat="firstItemOfBaseGroup in index |filter:strain|filter:expr|orderBy:'gdiOrder'|filter:uniqGdiBaseClass">
    <h1 class="gdiBaseCategory" >{{ firstItemOfBaseGroup.gdiBaseClassification }}</h1>
    <section class="gdiCategory" ng-repeat="firstItemOfGroup in index |where:{gdiBaseClassification: firstItemOfBaseGroup.gdiBaseClassification}|filter:strain|filter:expr|orderBy:'gdiOrder'|filter:uniqGdiClass">
        <div ng-repeat="f in ['UEF', 'Cybran', 'Aeon', 'Seraphim']" class="faction">
            <thumb ng-repeat="item in index|where:{faction: f, gdiBaseClassification: firstItemOfBaseGroup.gdiBaseClassification, gdiClassification: firstItemOfGroup.gdiClassification}|filter:strain|filter:expr|orderBy:'id'">
        </div>
        <h2 class="gdiCategory" ><a ng-click="toggleBpSelectedByGdiClass( firstItemOfGroup.gdiClassification )">{{ firstItemOfGroup.gdiClassification }}</a></h2>
    </section>
    <div class="clear" />
</div>
</div>
<aside class="filters gdi">
    <header>
        <span class="count" title="{{ contenders.length }} selected">{{ contenders.length }}</span>
        <a href="#/gdi" title="clear selection" class="clear" ng-click="clearSelectedBps()">x</a>
        <a ng-href="#/{{ contenders.join(',') }}" title="compare" ng-class="{ glow: contenders.length, compare: true }">compare</a>
    </header>
    <input type="text" placeholder="filter" autofocus ng-model="expr" />
    <p>
        <a ng-repeat="f in ['UEF', 'Cybran', 'Aeon', 'Seraphim']" title="{{ f }}" ng-click="toggleFaction(f)" ng-class="{active: factionSelected(f)}" class="icon-{{ f }}"></a>
    </p>
    <p>
        <a ng-repeat="k in ['Land', 'Air', 'Naval', 'Base']" title="{{ k }}" ng-click="toggleKind(k)" ng-class="{active: kindSelected(k)}" class="icon-{{ k }}"></a>
    </p>
    <p>
        <a ng-repeat="t in ['T1', 'T2', 'T3', 'EXP']" title="{{ t }}" ng-click="toggleTech(t)" ng-class="{active: techSelected(t)}" class="icon-{{ t }}"></a>
    </p>
    <div class="view">
        <hr />
        <h3 class="center">Current View</h3>
        <ul id="switchViews">
            <li><a href="/#/" class="jfl-views">[D]</a></li>
            <li><a href="/#/gdi" class="jfl-views active">[GDI]</a></li>
        </ul>
    </div>
</aside>
<footer><span>last update: 2016-11-05</span> | <span>unit count: {{ index.length }}</span> | <a href="https://github.com/b2ag/unitdb/issues">issues</a> | <a href="https://github.com/b2ag/unitdb">source</a></footer>
