<!--header><h1>Forged Alliance Forever Unit Database</h1></header-->
<section ng-repeat="f in ['UEF', 'Cybran', 'Aeon', 'Seraphim']" class="faction">
    <h1 class="{{ f|lowercase }}">{{ f }}</h1>
    <div class="kind" ng-repeat="c in ['Build', 'Base', 'Land', 'Air', 'Naval']">
        <thumb ng-repeat="item in index|where:{faction: f, classification: c}|filter:strain|filter:expr"></ng-thumb>
    </div>
</section>
<aside class="filters">
    <header>
        <span class="count" title="{{ contenders.length }} selected">{{ contenders.length }}</span>
        <a href="#/" title="clear selection" class="clear" ng-click="clear()">x</a>
        <a ng-href="#/{{ contenders.join(',') }}" title="compare" ng-class="{ glow: contenders.length, compare: true }">compare</a>
    </header>
    <input type="text" placeholder="filter" autofocus ng-model="expr" />
    <p>
        <a ng-repeat="f in ['UEF', 'Cybran', 'Aeon', 'Seraphim']" title="{{ f }}" ng-click="toggleFaction(f)" ng-class="{active: factionSelected(f)}" class="icon-{{ f }}"></a>
    </p>
    <p>
        <a ng-repeat="k in ['Land', 'Air', 'Naval', 'Base']" title="{{ k }}" ng-click="toggleKind(k)" ng-class="{active: kindSelected(k)}" class="icon-{{ k }}"></a>
    </p>
    <p>
        <a ng-repeat="t in ['T1', 'T2', 'T3', 'EXP']" title="{{ t }}" ng-click="toggleTech(t)" ng-class="{active: techSelected(t)}" class="icon-{{ t }}"></a>
    </p>
</aside>
<footer><span>last update: 2016-01-19</span> | <span>unit count: {{ index.length }}</span> | <a href="https://github.com/spooky/unitdb/issues">issues</a> | <a href="https://github.com/spooky/unitdb">source</a></footer>
