<article class="details faction {{ item.faction|lowercase }}">
    <header>
        <span class="thumb icon-{{ item.id }}" title="{{ item.fullName }}">
            <span class="strategic icon-{{ item.faction  }}_{{ item.strategicIcon}}" ></span>
        </span>
        <h1>{{ item.fullName }}<small>&#32;{{ item.faction }}</small></h1>
    </header>
    <section>
        <table>
            <tbody>
                <tr>
                    <td title="{{ item.Defense.Health }} hp"><span title="health" class="ic icon-health"></span>{{ item.Defense.Health | shorten }}<small ng-if="item.Defense.RegenRate">&nbsp;({{ item.Defense.RegenRate }}hp/s)</small></td>
                    <td title="{{ item.Economy.BuildCostMass }}"><span title="mass" class="ic icon-mass"></span>{{ item.Economy.BuildCostMass | shorten }}</td>
                    <td title="{{ item.Economy.BuildCostEnergy }}"><span title="energy" class="ic icon-energy"></span>{{ item.Economy.BuildCostEnergy | shorten }}</td>
                    <td title="{{ item.Economy.BuildTime }}"><span title="time" class="ic icon-time"></span>{{ item.Economy.BuildTime | shorten }}</td>
                </tr>

                <!-- Shields -->
                <tr class="sec" ng-if="item.Defense.Shield">
                    <td>Shield</td>
                    <td colspan="2">Health</td>
                    <td>{{ item.Defense.Shield.ShieldMaxHealth | shorten }}</td>
                </tr>
                <tr ng-if="item.Defense.Shield">
                    <td></td>
                    <td colspan="2">Regen</td>
                    <td>{{ item.Defense.Shield.ShieldRegenRate }} hp/s</td>
                </tr>
                <tr ng-if="item.Defense.Shield">
                    <td></td>
                    <td colspan="2">Size</td>
                    <td>{{ item.Defense.Shield.ShieldSize }}</td>
                </tr>
                <tr ng-if="item.Defense.Shield">
                    <td></td>
                    <td colspan="2">Recharge time</td>
                    <td>{{ item.Defense.Shield.ShieldRechargeTime + item.Defense.Shield.ShieldRegenStartTime }} s</td>
                </tr>

                <!-- Economy -->
                <tr ng-repeat="(k, v) in item.Economy | pick: ['BuildRate', 'StorageMass', 'StorageEnergy', 'ProductionPerSecondMass', 'ProductionPerSecondEnergy', 'MaintenanceConsumptionPerSecondEnergy']" ng-class="{ sec: $first }">
                    <td ng-class="{ invisible: !$first }">Economy</td>
                    <td colspan="2">{{ {'BuildRate': 'Build rate', 'StorageMass': 'Mass storage', 'StorageEnergy': 'Energy storage', 'ProductionPerSecondMass': 'Mass yield', 'ProductionPerSecondEnergy': 'Energy yield', 'MaintenanceConsumptionPerSecondEnergy': 'Energy drain' }[k] }}</td>
                    <td>{{ v }}</td>
                </tr>

                <!-- Abilities -->
                <tr ng-if="item.Display.Abilities" class="sec">
                    <td>Abilities</td>
                    <td colspan="3" ng-bind-html="item.Display.Abilities|flatten|unsafe"></td>
                </tr>

                <!-- Intel -->
                <tr class="sec">
                    <td>Intel</td>
                    <td colspan="2">Vision radius</td>
                    <td>{{ item.Intel.VisionRadius }}</td>
                </tr>
                <tr ng-if="item.Intel.RadarRadius">
                    <td></td>
                    <td colspan="2">Radar radius</td>
                    <td>{{ item.Intel.RadarRadius }}</td>
                </tr>
                <tr ng-if="item.Intel.SonarRadius">
                    <td></td>
                    <td colspan="2">Sonar radius</td>
                    <td>{{ item.Intel.SonarRadius }}</td>
                </tr>

                <!-- Physics -->
                <tr ng-if="item.Physics.MaxSpeed" class="sec">
                    <td>Physics</td>
                    <td colspan="2">Max speed</td>
                    <td>{{ item.Physics.MaxSpeed }}</td>
                </tr>
                <tr ng-if="item.Physics.TurnRate">
                    <td></td>
                    <td colspan="2">Turn rate</td>
                    <td>{{ item.Physics.TurnRate }}</td>
                </tr>
                <tr ng-if="item.Physics.FuelUseTime">
                    <td></td>
                    <td colspan="2">Fuel use time</td>
                    <td>{{ item.Physics.FuelUseTime | time }}</td>
                </tr>
                <tr ng-if="item.Physics.FuelRechargeRate">
                    <td></td>
                    <td colspan="2">Fuel recharge time</td>
                    <td>{{ 10*item.Physics.FuelUseTime / item.Physics.FuelRechargeRate | time }}</td>
                </tr>

                <!-- Air Physics -->
                <tr ng-if="item.Air.MaxAirspeed" class="sec">
                    <td>Air Physics</td>
                    <td colspan="2">Speed</td>
                    <td>{{ item.Air.MinAirspeed || 0 }}-{{ item.Air.MaxAirspeed }}</td>
                </tr>
                <tr ng-if="item.Physics.Elevation">
                    <td></td>
                    <td colspan="2">Elevation</td>
                    <td>{{ item.Physics.Elevation }}</td>
                </tr>
                <tr ng-if="item.Air.EngageDistance">
                    <td></td>
                    <td colspan="2">Engage distance</td>
                    <td>{{ item.Air.EngageDistance }}</td>
                </tr>
                <tr ng-if="item.Air.TurnSpeed">
                    <td></td>
                    <td colspan="2">Turn speed</td>
                    <td>{{ item.Air.TurnSpeed }}</td>
                </tr>
                <tr ng-if="item.Air.CombatTurnSpeed">
                    <td></td>
                    <td colspan="2">Combat turn speed</td>
                    <td>{{ item.Air.CombatTurnSpeed }}</td>
                </tr>

                <!-- Wreckage -->
                <tr ng-if="item.Wreckage.HealthMult" class="sec">
                    <td>Wreckage</td>
                    <td colspan="2">Health</td>
                    <td title="{{ item.Wreckage.HealthMult*item.Defense.Health | round }}">{{ item.Wreckage.HealthMult*item.Defense.Health | round | shorten }}</td>
                </tr>
                <tr ng-if="item.Wreckage.MassMult">
                    <td></td>
                    <td colspan="2">Mass</td>
                    <td title="{{ item.Wreckage.MassMult*item.Economy.BuildCostMass | round }}">{{ item.Wreckage.MassMult*item.Economy.BuildCostMass | round | shorten }}</td>
                </tr>

                <!-- Veterancy -->
                <tr ng-if="item.Veteran" ng-repeat="lv in [1,2,3,4,5]" ng-class="{ sec: $first }">
                    <td ng-class="{ invisible: !$first }">Veterancy</td>
                    <td title="kills"><small>{{ item.Veteran['Level'+lv] }}</small></td>
                    <td title="{{ item.Defense.Health * (1 + lv * 0.1) | round }}hp health"><small>{{ item.Defense.Health * (1 + lv * 0.1) | round | shorten }} hp</small></td>
                    <td title="regeneration rate"><small>{{ item.Defense.RegenRate + item.Buffs.Regen['Level'+lv] }} hp/s</small></td>
                </tr>

                <!-- Weapons -->
                <tr ng-if="item.Weapon" ng-repeat-start="w in item.Weapon" class="sec">
                    <td ng-class="{ invisible: !$first }">Weapons</td>
                    <td colspan="3">{{ w.DisplayName }}</td>
                </tr>
                <tr ng-if="w.WeaponNumber">
                    <td></td>
                    <td colspan="2"><small>Number of weapons</small></td>
                    <td title="number"><small>{{ w.WeaponNumber  }}</small></td>
                </tr>
                <tr ng-if="w.dps || w.Damage">
                    <td></td>
                    <td title="category (damage type)" colspan="2"><small>{{ w.WeaponCategory }} ({{ w.DamageType }})</small></td>
                    <td><small ng-if="w.dps" title="damage per second">{{ w.dps | round:2 }}dps<br /></small><small title="damage per shot">{{ w.Damage | round }}dmg</small></td>
                </tr>
                <tr ng-if="w.MaxRadius">
                    <td></td>
                    <td title="range" colspan="2"><small>Range</small></td>
                    <td title="min - max"><small>{{ w.MinRadius || 0  }} - {{ w.MaxRadius | shorten }}</small></td>
                </tr>
                <tr ng-if="w.DamageRadius">
                    <td></td>
                    <td colspan="2"><small>Damage radius</small></td>
                    <td title="damage radius"><small>{{ w.DamageRadius  }}</small></td>
                </tr>
                <tr ng-if="w.MuzzleVelocity">
                    <td></td>
                    <td colspan="2"><small>Muzzle velocity</small></td>
                    <td title="muzzle velocity"><small>{{ w.MuzzleVelocity  }}</small></td>
                </tr>
                <tr ng-if="w.NukeInnerRingRadius && w.NukeOuterRingRadius">
                    <td></td>
                    <td colspan="2"><small>Ring radius</small></td>
                    <td title="inner ring radius | outer ring radius"><small>{{ w.NukeInnerRingRadius  }} | {{ w.NukeOuterRingRadius }}</small></td>
                </tr>
                <tr ng-if="w.NukeInnerRingDamage && w.NukeOuterRingDamage">
                    <td></td>
                    <td colspan="2"><small>Ring damage</small></td>
                    <td title="inner ring damage | outer ring damage"><small>{{ w.NukeInnerRingDamage | shorten }} | {{ w.NukeOuterRingDamage | shorten }}</small></td>
                </tr>

                <tr ng-if="w.ManualFire || w.MuzzleSalvoSize">
                    <td></td>
                    <td colspan="2" title="{{ 'manual fire' | if:w.ManualFire }}"><small>Fire cycle{{ " ⦿"| if:w.ManualFire }}</small></td>
                    <td><small>{{ item.fireCycle(w) }}</small></td>
                </tr>

                <tr ng-if="w.TurretPitchRange">
                    <td></td>
                    <td colspan="2"><small>Turret pitch</small></td>
                    <td title="min ~ max @ speed"><small>{{ w.TurretPitch }}~{{ w.TurretPitchRange }}° @&nbsp;{{ w.TurretPitchSpeed }}°/s</small></td>
                </tr>
                <tr ng-if="w.TurretYawRange" ng-repeat-end>
                    <td></td>
                    <td colspan="2"><small>Turret yaw</small></td>
                    <td title="min ~ max @ speed"><small>{{ w.TurretYaw }}~{{ w.TurretYawRange }}° @&nbsp;{{ w.TurretYawSpeed }}°/s</small></td>
                </tr>

                <!-- Upgrades -->
                <tr  ng-if="item.Enhancements" ng-repeat-start="u in item.Enhancements | where: {RemoveEnhancements:undefined} | sortBy: 'Slot'" class="sec">
                    <td ng-class="{ invisible: !$first }">Upgrades</td>
                    <td colspan="3">{{ u.Name }}</td>
                </tr>
                <tr title="{{ u }}" >
                    <td><small>{{ u.Slot }}</small></td>
                    <td title="{{ u.BuildCostMass }}"><span title="mass" class="ic icon-mass"></span>{{ u.BuildCostMass | shorten }}</td>
                    <td title="{{ u.BuildCostEnergy }}"><span title="energy" class="ic icon-energy"></span>{{ u.BuildCostEnergy | shorten }}</td>
                    <td title="{{ u.BuildTime }}"><span title="time" class="ic icon-time"></span>{{ u.BuildTime | shorten }}</td>
                </tr>
                <tr ng-if="u.NewMaxRadius">
                    <td></td>
                    <td colspan="2"><small>new max radius</small></td>
                    <td><small>{{ u.NewMaxRadius }}</small></td>
                </tr>
                <tr ng-if="u.NewRateOfFire">
                    <td></td>
                    <td colspan="2"><small>new rate of fire</small></td>
                    <td><small>{{ u.NewRateOfFire }}</small></td>
                </tr>
                <tr ng-if="u.MaintenanceConsumptionPerSecondEnergy">
                    <td></td>
                    <td colspan="2"><small>new energy drain</small></td>
                    <td><small>{{ u.MaintenanceConsumptionPerSecondEnergy | shorten }}</small></td>
                </tr>
                <tr ng-if="u.ProductionPerSecondMass">
                    <td></td>
                    <td colspan="2"><small>new mass yield</small></td>
                    <td><small>{{ u.ProductionPerSecondMass | shorten }}</small></td>
                </tr>
                <tr ng-if="u.ProductionPerSecondEnergy">
                    <td></td>
                    <td colspan="2"><small>new energy yield</small></td>
                    <td><small>{{ u.ProductionPerSecondEnergy | shorten }}</small></td>
                </tr>
                <tr ng-if="u.NewHealth">
                    <td></td>
                    <td colspan="2"><small>new health</small></td>
                    <td><small>{{ u.NewHealth | shorten }}</small></td>
                </tr>
                <tr ng-if="u.NewRegenRate">
                    <td></td>
                    <td colspan="2"><small>new regen rate</small></td>
                    <td><small>{{ u.NewRegenRate }}hp/s</small></td>
                </tr>
                <tr ng-if="u.NewOmniRadius">
                    <td></td>
                    <td colspan="2"><small>new omni radius</small></td>
                    <td><small>{{ u.NewOmniRadius }}</small></td>
                </tr>
                <tr ng-if="u.AdditionalDamage">
                    <td></td>
                    <td colspan="2"><small>additional damage</small></td>
                    <td><small>{{ u.AdditionalDamage }}</small></td>
                </tr>
                <tr ng-if="u.NewDamageRadius">
                    <td></td>
                    <td colspan="2"><small>new damage radius</small></td>
                    <td><small>{{ u.NewDamageRadius }}</small></td>
                </tr>
                <tr ng-if="u.NewBuildRate">
                    <td></td>
                    <td colspan="2"><small>new build rate</small></td>
                    <td><small>{{ u.NewBuildRate }}</small></td>
                </tr>
                <tr ng-if="u.ShieldMaxHealth">
                    <td></td>
                    <td colspan="2"><small>health</small></td>
                    <td><small>{{ u.ShieldMaxHealth | shorten }}</small></td>
                </tr>
                <tr ng-if="u.ShieldRegenRate">
                    <td></td>
                    <td colspan="2"><small>regen</small></td>
                    <td><small>{{ u.ShieldRegenRate }}</small></td>
                </tr>
                <tr ng-if="u.ShieldSize">
                    <td></td>
                    <td colspan="2"><small>size</small></td>
                    <td><small>{{ u.ShieldSize }}</small></td>
                </tr>
                <tr ng-if="u.ShieldRechargeTime && u.ShieldRegenStartTime" ng-repeat-end>
                    <td></td>
                    <td colspan="2"><small>recharge time</small></td>
                    <td><small>{{ u.ShieldRechargeTime + u.ShieldRegenStartTime }}</small></td>
                </tr>
            </tbody>
        </table>
    </section>
</article>
